/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Generics */

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* Utilities */

/* Wrapper */
.wrapper {
    margin: 0 auto;
    max-width: 750px;
}

/* Flexbox */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

/* Layout */

/* Slider */
#slider .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Thumbnails */
#thumbnails img {
    width: calc(100% / 5);
    filter: brightness(0.75);
}

#thumbnails img:hover {
    cursor: pointer;
    filter: brightness(1);
}